@{
//if (string.IsNullOrEmpty(Context.Request.Path.ToString().Split('=')[1]))
//{
//    var filename = Context.Request.Path.ToString().Split('=')[1];
//    Context.Response.("content-disposition", "attachment; filename=" + fileName);
//    Context.Response.ContentType = "application/csv;
//    Context.Response.TransmitFile(@"C:\" + filename);
//}
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Download</title>
</head>
<body>
</body>
</html>
