<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="AWSProfileName" value="scm-develop-s3-access-dev" />
    <add key="PROD_Bucket" value="scm-prod-raw-data-g1yg1j5x" />
    <add key="DEV_Bucket" value="scm-staging-raw-data-4utyjn11" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <log4net>
    <!--<appender name="coloredconsoleappender" type="log4net.appender.coloredconsoleappender">
      <mapping>
        <level value="error" />
        <forecolor value="white" />
        <backcolor value="red, highintensity" />
      </mapping>
      <layout type="log4net.layout.patternlayout">
        <conversionpattern value="%date %level %message%newline" />
      </layout>
    </appender>-->
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="folder\..\..\..\log\%property{LogName}" />
      <!--<file value="folder\..\..\..\log\FE_adapterlogfile.log" />-->
      <appendToFile value="true" />
      <!--<rollingStyle value="Date" />-->
      <!--<datePattern value="yyyyMMdd-HHmm" />-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <!--<appender-ref ref="ColoredConsoleAppender" />-->
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>